<div class="container">
    <table mat-table [dataSource]="myOrderDetails" class="mat-elevation-z8">
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
        </ng-container>
        <ng-container matColumnDef="ProductName">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productName}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.orderFullName}} </td>
        </ng-container>
        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.orderFullAddress}} </td>
        </ng-container>
        <ng-container matColumnDef="Contact No.">
            <th mat-header-cell *matHeaderCellDef> Contact No. </th>
            <td mat-cell *matCellDef="let element"> {{element.orderContactNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.orderAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
        </ng-container>
        <ng-container matColumnDef="ChangeStatus">
            <th mat-header-cell *matHeaderCellDef> Change Status </th>
            <td mat-cell *matCellDef="let element">
              <button *ngIf="element.orderStatus == 'Placed'" mat-raised-button class="btn btn-outline-primary rounded-10 custom-mark-delivered-button" (click)="markAsDelivered(element.orderId)">
                Mark as delivered
              </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
