<div class="product-container">
  <div class="carousel-container">
    <button class="arrow-button left" (click)="previousImage()">&#8249;</button>
    <div class="image-placeholder">
      <img [src]="product.productImages[currentIndex]?.url" alt="Product Image">
    </div>
    <button class="arrow-button right" (click)="nextImage()">&#8250;</button>
  </div>
  <div class="product-details">
    <h2>{{product.productName}}</h2>
    <p class="discounted-price">
      {{product.productPrice * (1 - product.productDiscounted / 100) | number:'1.2-2'}} $
    </p>
    <button class="add-to-cart" (click)="buyProduct(product.productId)">Buy Now</button>
    &nbsp;
    <button class="add-to-cart" (click)="addToCart(product.productId)">Add to cart</button>
  </div>
  <div class="dropdown">
    <div class="dropdown-header" (click)="toggleDescription()">
      <span>Description</span>
      <span [class.rotate]="descriptionOpen">▼</span>
    </div>
    <div *ngIf="descriptionOpen" class="dropdown-content">
      <p>{{product.productDescription}}</p>
    </div>
  </div>
  <div class="dropdown">
    <div class="dropdown-header" (click)="toggleReview()">
      <span>Review</span>
      <span [class.rotate]="reviewOpen">▼</span>
    </div>
    <div *ngIf="reviewOpen" class="dropdown-content">
      <p>Product reviews go here...</p>
    </div>
  </div>
</div>