<div class="container mt-5">
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
    <h2>Add a Review</h2>
    <form #reviewForm="ngForm" (ngSubmit)="submitReview()">
      <div class="form-group mb-3">
        <label for="rating">Rating</label>
        <select 
          id="rating" 
          class="form-control" 
          required 
          [(ngModel)]="rating" 
          name="rating">
          <option value="" disabled>Select rating</option>
          <option *ngFor="let rate of ratings" [value]="rate">{{rate}}</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="review">Your Review</label>
        <textarea 
          id="review" 
          class="form-control" 
          rows="5" 
          required 
          [(ngModel)]="reviewText" 
          name="reviewText">
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!reviewForm.form.valid">Submit Review</button>
    </form>
  </div>
  